{{#if errorMessage}}
  <p class='error'>{{errorMessage}}</p>
{{/if}}
<form action='/signup' method='post'>

  <div>
    <input type="file" name="user_picture_url">
    <img src="user_picture_url" alt="Profil Picture">
    <label for='username'>Username: </label>
    <input type='text' id='username' name='username' placeholder='Username:' />
  </div>
  <div>
    <label for='password'>Password: </label>
    <input type='password' required id='password' name='password' />
  </div>
  <button>Login</button>

  <p>Already have a account <a href='/login'>Login!</a></p>

</form>