<section class="auth-section">
  {{#if errorMessage}}
    <section class="error-section">
      <p class='error'>{{errorMessage}}</p>
    </section>
  {{/if}}
  <h1>Signup</h1>
  <section class="auth-form-section">
    <form action='/signup' method='post' enctype="multipart/form-data">
    <label for="user_picture_url">Upload profile photo:</label>
    <input type="file" name="user_picture_url" placeholder="Profile Image...">
  

    <input type='text' id='username' name='username' placeholder='Username...' />

    
    <input type='password' required id='password' name='password' placeholder="Password..."/>

    <button type="submit">Create Account</button>
    <p>OR</p>

    <a href='/login'>Login!</a>

</form>
</section>
</section>