<nav id="navbar">
<ul>
    <li>
        <a href="/">Home</a></li>
       <li><a href="/profile">My profile</a></li>
       <li><a href="/sightings">All Sightings</a></li>
       <li><a href="/sightings/create">Create Sightings</a>
        <li><a href="/logout">Logout</a>
    </li>
</ul>

</nav>