<section id="index-page">

    <div class="site-name">
        <h1>Bigfoot Sightings</h1>
        <div id="login-signup-buttons">
            <button><a href="/login">Login</a></button>
            <button><a href="/signup">Create Account</a></button>
        </div>
    </div>
</section>