<form action="/sightings/update/{{id}}" method="post">
<h1>Update your sighting</h1>
<label for="location">Location:</label>
<input type="text" name="location" value="{{location}}">
<label for="description">Description:</label>
<input type="text" name="description" value="{{description}}">
<button type="submit">Update Post</button>
</form>