<form action="/sightings/update/:sightingId" method="post">
<h1>Update your sighting</h1>
<label for="location">Location:</label>
<input type="text" name="location">
<label for="description">Description:</label>
<input type="text" name="description">
<label for="date" >Date:</label>
<input type="date" name="date">
<button>Update Post</button>
</form>